<h2>Recomendaciones</h2>
<div class="container">
  <div class="row">

    <div class="col mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="#">
            <h3 class="card-title">El Mundo Digital Today</h3>
          </a>
          <p class="card-text">EMDT es una web dedicada a cubrir la actualidad del mundo Digimon al momento. Cuenta con
            contenido propio que trata el día
            a día de los Digimon y Appmon que habitan en la red, pero también cubre noticias reales de la franquicia de
            monstruos digitales.
            ¡Y todo ello con una buena taza de café de Monitamon!</p>
        </div>
      </div>
    </div>

  </div>
</div>
