<h2>Recomendaciones</h2>
<div class="container">
  <div class="row">

    <div class="col mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://mundodigitaltoday.wordpress.com/" target="_blank">
            <h3 class="card-title">El Mundo Digital Today</h3>
          </a>
          <p class="card-text">EMDT es una web dedicada a cubrir la actualidad del mundo Digimon al momento. Cuenta con
            contenido propio que trata el día
            a día de los Digimon y Appmon que habitan en la red, pero también cubre noticias reales de la franquicia de
            monstruos digitales.
            ¡Y todo ello con una buena taza de café de Monitamon!</p>
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://www.youtube.com/channel/UCrSxPw8oZWhqMKXmKVjFQ6Q" target="_blank">
            <h3 class="card-title">Los Archivos de Izzy</h3>
          </a>
          <p class="card-text">Canal de YouTube creado con la intención de convertirse en uno de los referentes de habla
            hispana sobre Digimon donde, además de hablar del anime, se hablará de otros productos de la saga como
            videojuegos, v-pets, mangas, cartas, etc. Sean bienvenidos a un espacio hecho por y para digifans. Este es
            vuestro canal, este es vuestro archivo.</p>
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://www.twitch.tv/achodigimones" target="_blank">
            <h3 class="card-title">Acho Digimones</h3>
          </a>
          <p class="card-text">Canal de Twitch centrado en Digimon TCG 2020, desde deck profiles, partidas, pequeñas
            guías de las cartas básicas de cada color
            y en general todo lo relacionado con el juego.</p>
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://twitter.com/DNC_DS" target="_blank">
            <h3 class="card-title">Digital Net Café</h3>
          </a>
          <p class="card-text">Cuenta de Twitter de la comunidad de Discord "Digital Net Café", especializada en la
            compraventa de V-Pets.</p>
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://twitter.com/Digimon_Freaks" target="_blank">
            <h3 class="card-title">Digimonfreaks</h3>
          </a>
          <p class="card-text">Cuenta de Twitter que comparte todo tipo de información acerca de Digimon, además de
            escenas de los diferentes animes
            de la franquicia.</p>
        </div>
      </div>
    </div>

    <div class="col mt-3">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <a href="https://twitter.com/DigimonWorldEsp" target="_blank">
            <h3 class="card-title">Digimonfreaks</h3>
          </a>
          <p class="card-text">Cuenta de Twitter de Digimon World España, ¡la comunidad de Fans de Digimon en nuestro país! Un espacio en el
            que compartir nuestra pasión por la franquicia, desde el primer monstruo digital de 1997 hasta la última
            serie de animación.</p>
        </div>
      </div>
    </div>

  </div>
</div>
