<div class="container">
  <div class="row">
    <div class="col mt-4">
      <p>
        La Frontera Digimon es un proyecto personal que surgió con la idea de hacer un registro del D-Tector de Digimon,
        sin embargo, iré añadiendo más contenido (generalmente relacionado con dispositivos parecidos) en el futuro.
      </p>
      <p>
        Puedes estar más informado acerca de lo que hago siguiéndome en <a href="https://twitter.com/fronteradigimon"
          target="_blank">Twitter</a>
        o estando suscrito a mi <a href="https://www.youtube.com/channel/UCqc-fmnWOInmLb6D8aM1uHA" target="_blank">canal
          de YouTube</a>.
      </p>
    </div>

    <app-videos></app-videos>

    
    <app-recomendaciones class="mt-4"></app-recomendaciones>
    
  </div>
</div>
