<h2>Vídeos</h2>

<div class="container">

  <div class="row g-5">


    <div class="col-xl-6 col-12">
      <h3 class="border-bottom">Último vídeo subido</h3>
      <div class="embed-container">
        <iframe src=https://www.youtube.com/embed/{{idVideo}} frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>

    <div class="col-xl-6 col-12">
      <h3 class="border-bottom">Diario D-Tector</h3>
      <div class="embed-container">
        <iframe src="https://www.youtube.com/embed/videoseries?list=PLZwh9gy1JnV0z2huSHxbnI27HUH39wBpp" frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen></iframe>
      </div>
    </div>


  </div>
</div>
