<div class="container">
  <div class="row">

    <div class="col-12">
      <h2 class="mt-4 border-bottom">Guía D-Tector</h2>
    </div>

    <div class="col-12">
      <p>
        Esta guía se ha creado con mi experiencia de la versión 1.0 del D-Tector lanzado por Bandai en España en el año
        2002.
        En ella se explicarán los diferentes tipos de ataques, el círculo de debilidades, los diferentes eventos que se
        pueden
        encontrar a lo largo del juego, los códigos para obtener los digimon del juego de cartas del D-Tector, etc.
      </p>
      <p>
        Antes de comenzar es conveniente conocer los botones del juego. El digivice cuenta con 5 botones y 1 sensor de
        movimiento.
        En la parte frontal del dispositivo hay 3 botones: botón A (el de abajo), botón B (el del medio) y botón C (el
        de arriba).
        En el lateral izquierdo se encuentra otro botón al que llamaré "botón lateral" (aunque oficialmente se llama
        "botón del
        sensor de movimiento").
        En la parte trasera está el botón de reset, el cual es muy pequeño y de color rojo. Personalmente recomiendo
        usar un palillo al que se le haya retirado la punta para presionar dicho botón sin estropearlo.
        El sensor de movimiento está en la parte superior del dispositivo, al lado de los pines de conexión, protegido
        por una
        lámina de vidrio o plástico.
      </p>
      <p>
        Hay que recordar que este juguete cuenta con un podómetro incorporado. Es decir, lo ideal es colgar el digivice
        en el cinturón,
        pantalón o donde sea para sacarle el máximo partido, pero... nadie hace esto. Si agitas el D-Tector con la mano
        te cuenta
        los pasos igualmente, así que no hace falta que salgas a la calle cada vez que quieras jugar.
      </p>
      <p>
        Iré actualizando la guía con el paso del tiempo según vaya recopilando más información. Puedes contactar conmigo
        mediante mis redes sociales o mi correo electrónico si quieres que corrija o añada algo.
      </p>
    </div>

    <div class="col-12">

      <!--Principio acordeón-->
      <div class="accordion" id="accordionExample">

        <!--Item 1-->
        <div class="accordion-item">
          <div class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
              aria-expanded="true" aria-controls="collapseOne">
              <h3>¡Comienza la aventura!</h3>
            </button>
          </div>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Una vez le has puesto pilas nuevas y has presionado el botón reset aparecerá una pantalla en negro con
                unas líneas
                moviéndose en vertical. En ese momento puedes pulsar cualquier botón y... ¡te habrás transportado al
                mundo digital, donde te esperan
                epiquísimas batallas con tremendos efectos especiales!
              </p>
              <p>
                Lo primero es escoger a tu niño elegido. Escoge bien, pues dependiendo de quién
                escojas comenzarás con un espíritu digital diferente.
              </p>
              <p>
                Una vez has escogido a tu niño elegido es hora de ponerle nombre, para ello se nos presenta una (para
                nada tediosa)
                pantalla para introducirlo. Con el botón A avanzas en el alfabeto, con B seleccionas la letra que
                quieras y con el
                botón lateral se invierte el sentido en el que avanzas en el alfabeto.
              </p>
              <p>
                Ahora que has introducido el nombre de tu niño elegido, verás una preciosa animación en la que se nos
                muestra cómo
                viajas al mundo digital y cómo obtienes tu primer digimon.
              </p>
              <p>
                ¡Ahora comienza la aventura!
              </p>
            </div>
          </div>
        </div>
        <!--Fin item 1-->

        <!--Item 2-->
        <div class="accordion-item">
          <div class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h3>Pantallas y menús</h3>
            </button>
          </div>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
              <p>
                Ya estás en el mundo digital. Ahora mismo en la pantalla estará el niño elegido que escogiste y, a
                partir de aquí,
                accederemos a los diferentes menús y pantallas del juego. De ahora en adelante me referiré a esta
                pantalla como
                "pantalla principal".
              </p>
              <div>
                <h4 class="border-bottom">Sonido</h4>
                <p>
                  Para empezar, si quieres activar o desactivar el sonido del digivice tendrás que estar en la pantalla
                  principal
                  y pulsar los botones A y B al mismo tiempo. Cuesta hacerlo bien a la primera, no te preocupes, pero
                  una vez que
                  lo consigues basta con elegir SOUND ON o SOUND OFF para activar o desactivar el sonido
                  respectivamente.
                  Con el botón A puedes navegar entre ambas opciones y con el botón B seleccionas la que quieras.
                </p>
              </div>
              <div>
                <h4 class="border-bottom">Pantallas de información</h4>
                <p>
                  Estando en la pantalla principal, si pulsas el botón B accederás a las pantallas de información
                  de la aventura. Para pasar a la siguiente pantalla de información basta con seguir pulsando el botón
                  B.
                </p>
                <p>
                  En la primera pantalla de información verás la distancia (DISTANCE) que te queda para llegar al final
                  del
                  área en la que te encuentras. Esta distancia puede disminuir de varias formas. La
                  principal
                  es haciendo uso del podómetro del D-Tector, es decir, o bien caminando con él o agitándolo con la
                  mano.
                  Sin embargo, la distancia también puede disminuir con ciertos objetos que
                  encontramos
                  durante nuestra aventura o jugando a Speed Runner, uno de los juegos incluidos en
                  el dispositivo.
                  También podrás ver los pasos (STEPS) que has dado desde que comenzaste el juego.
                </p>
                <p>
                  En la segunda pantalla podrás ver información acerca de los combates realizados contra otros
                  dispositivos de
                  Digimon mediante la función de conexión. VICTORY indica el porcentaje de
                  victorias y
                  WIN indica el número total de batallas ganadas.
                </p>
                <p>
                  En la tercera pantalla podrás ver la energía o SPIRITS POWER que tienes. Este valor disminuye cada vez
                  que
                  utilizas un espíritu digital o un digimon ANCIENT y
                  aumenta combatiendo contra
                  otros digimon (sin utilizar espíritus ni digimon ANCIENT), descansando en el
                  campamento o
                  encontrando uno de los objetos del juego.
                  Lo ideal es subirlo combatiendo, ya que en el campamento aumenta muy poco y el objeto es difícil de
                  encontrar.
                </p>
                <p>
                  Las cuatro últimas pantallas muestran los D-DOCKS, es decir, nuestro equipo de combate conformado por
                  hasta 4
                  digimon diferentes. Si acabas de empezar partida, verás que solo hay un digimon en el D-DOCK1, pues es
                  el
                  digimon que tu personaje capturó en la animación del comienzo del juego. El resto de D-DOCKS estarán
                  vacíos (EMPTY).
                  Podrás elegir los 3 digimon restantes (o intercambiar los que ya tenías) desde la
                  DIGI-DATABASE.
                </p>
              </div>
              <div>
                <h4 class="border-bottom">Menú 1</h4>
                <p>
                  Al menú 1 se accede pulsando el botón A o el botón lateral desde la pantalla principal.
                  Este menú cuenta con 5 opciones por las que podrás navegar pulsando el botón A. Una vez estás situado
                  en la opción a la que deseas acceder basta con pulsar el botón B. Las opciones disponibles son:
                </p>
                <ol style="list-style:decimal">

                  <li>
                    <h5>MAP</h5>
                    <p> El lugar donde tiene lugar tu aventura. El mundo digital. Consta de 4 mapas (MAP) con 3 áreas
                      cada uno.
                      Al comenzar partida estarás en el área 1 del MAP 1, sin embargo, puedes cambiar de área siempre
                      que
                      quieras.
                      Para hacerlo tienes que seleccionar el MAP al que quieres ir pulsando el botón A. Una vez en el
                      MAP de
                      tu elección
                      tendrás que pulsar el botón B para seleccionarlo y pasar a la pantalla de selección de área.
                      Cuando
                      estés en dicha
                      pantalla tienes que elegir a cuál de las 3 áreas del MAP quieres ir, navegando con A y
                      seleccionando tu
                      elección
                      con B. En ese momento aparecerán los pasos que necesitas dar para llegar al final del área. Pulsa
                      de
                      nuevo B y ya
                      estará.</p>
                    <p>
                      El punto que parpadea es el área en el que te encuentras actualmente, los puntos blancos
                      son las áreas que aún no se han completado y los puntos negros son las áreas completadas.
                      El objetivo del juego es completar todas las áreas. Para conseguirlo, hay que llegar al final de
                      cada
                      área y
                      vencer al BOSS que se encuentra al final de la misma. Una vez superados los 4 mapas
                      aparecerá
                      un quinto mapa (la Dark Area) con una sola área. Al llegar al final de la misma tendrás que
                      derrotar al
                      jefe final
                      del juego y lo habrás completado, pero no te preocupes, puedes pasártelo las veces que quieras.
                    </p>
                  </li>

                  <li>
                    <h5>STATUS</h5>
                    <p>
                      Aquí podrás ver información de los diferentes niños elegidos que tienes disponibles. Al comenzar
                      el
                      juego tendrás
                      disponibles a Koji, JP, Zoe, Tommy y Takuya, pero una vez completes el juego por primera vez
                      también
                      estará disponible
                      Koichi.
                    </p>

                    <p>
                      Cada niño elegido tiene unas características diferentes que aumentan con el nivel: salud
                      (representada
                      con un corazón), spirit, stamina y skill.
                      Si alguien sabe cñómo influyen estas estadísticas en combate, que se ponga en contacto conmigo a
                      través
                      de Twitter.
                    </p>
                    <p>Para subir de nivel hay que ganar combates.</p>
                  </li>

                  <li>
                    <h5>SPIRITS</h5>
                    <p>Cada niño elegido tiene dos espíritus digitales asociados, uno humano y otro animal.</p>
                    <p>
                      Al comienzo de la aventura solo contarás con el espíritu digital humano del niño elegido que
                      escogiste, sin embargo, superando las diferentes áreas del mapa
                      podrás conseguir el resto de espíritus digitales.
                    </p>
                    <p>
                      Durante la aventura, al perder un combate contra un BOSS podrá robarte un espíritu digital.
                      Podrás recuperarlo venciéndolo.
                    </p>
                  </li>

                  <li>
                    <h5>CAMP</h5>
                    <p>
                      Al perder un combate existe la posibilidad de que nuestro niño elegido resulte herido.
                      Esto lo sabrás porque, en la pantalla principal, se queda agachado y con un símbolo encima de la
                      cabeza.
                    </p>
                    <p>
                      Para curarlo, basta con hacerle entrar en el campamento y sacarlo de nuevo.
                    </p>
                    <p>
                      Una vez dentro del campamento, además de curar sus heridas, no se contarán los pasos que des y
                      recuperarás algo de Spirits-Power, aunque de forma muy lenta.
                    </p>
                  </li>

                  <li>
                    <h5>CONNECT</h5>
                    <p>
                      Opción para conectarse, mediante los conectores metálicos de la parte superior del dispositivo,
                      con otros D-Tector u otros digivice y V-Pets de Digimon.
                    </p>
                    <p>
                      Con V.S. Battle podrás combatir contra otros dispositivos,
                    </p>
                    <p>
                      Con TRADE podrás enviar o recibir digimon de otros dispositivos compatibles.
                    </p>
                  </li>

                </ol>
              </div>
              <div>
                <h4 class="border-bottom">Menú 2</h4>
                <p>
                  Para llegar al menú 2 es necesario encontrarse en el menú 1. Una vez dentro del menú 1 tienes que
                  pulsar el
                  botón lateral.
                  Este menú cuenta con 4 opciones por las que podrás navegar de la misma forma que en el menú 1.
                  Las opciones disponibles son:
                </p>
                <ol start="6" style="list-style: decimal;">

                  <li>
                    <h5>DIGI-DATABASE</h5>
                    <p>
                      Lista de todos los digimon conseguidos durante la aventura.
                    </p>
                    <p>
                      Existen varias formas de conseguir digimon: ganando combates contra ellos, obteniéndolos en el
                      juego SCANNING ACTION, obteniéndolos en el DIGI-SEARCHER, obteniéndolos mediante un intercambio
                      con la opción TRADE de CONNECT o ingresando su código en la opción
                      DIGI-DIGITS.
                    </p>
                    <p>
                      Los digimon se dividen, según su estado evolutivo, en ROOKIE, CHAMPION, ULTIMATE y MEGA, de menos
                      a más poderosos. Además, existe la categoría BOSS donde se registran los BOSS derrotados de cada
                      área, y la categoría ANCIENT, donde se registran los Guerreros Legendarios disponibles, obtenibles
                      únicamente mediante códigos.
                    </p>
                    <p>
                      Todos los digimon disponibles en la DIGI-DATABASE, a excepción de los ANCIENT, pueden ser
                      utilizados en combate.
                      Para poder usarlos, basta con navegar hasta el digimon deseado, pulsar el botón B para acceder a
                      su información, volver a pulsar el botón B para acceder al sistema de selección de D-Dock en el
                      cual podremos navegar con el botón A, pulsar
                      el botón B para seleccionar en qué D-Dock colocarlo, y pulsarlo de nuevo para confirmar la
                      selección. Para ver más información sobre los combates, ir a la sección de eventos del juego.
                    </p>
                    <p>
                      Ver la sección <a [routerLink]="['/digidigits']" target="_blank">Digi-Digits</a> para ver una
                      lista de todos los digimon disponibles y sus códigos.
                    </p>
                  </li>

                  <li>
                    <h5>DIGI-DIGITS</h5>
                    <p>
                      El D-Tector salió al mismo tiempo que el juego de cartas <b>D-Tector Card Game</b>. Todas las
                      cartas de este juego tenían un código en la parte superior que, al introducirlo en la opción
                      DIGI-DIGITS del D-Tector, podías conseguir al digimon de la carta en el digivice.
                    </p>
                    <p>
                      Además, en el empaque del dispositivo se inluían 4 cartas de este juego. Por desgracia, para
                      conseguir más cartas había que importarlas desde EEUU.
                    </p>
                    <p>
                      <a href="https://digimon.fandom.com/wiki/Card:D-Tector_Card_Game" target="_blank">Aquí</a> puedes
                      consultar una lista con la mayoría de cartas del juego.
                    </p>
                    <p>
                      También puedes ir a la sección <a [routerLink]="['/digidigits']" target="_blank">Digi-Digits</a>
                      para ver una lista completa de todos los códigos disponibles.
                    </p>
                  </li>

                  <li>
                    <h5>GAME</h5>
                    <p>
                      El D-Tector cuenta con dos juegos para obtener diferentes bonificaciones durante la aventura:
                      SCANNING ACTION y SPEED RUNNER.
                    </p>
                    <p>
                      SCANNING ACTION consiste en destruir una caja con el ataque que se indica (ENERGY, ABILITY o
                      CRUSH). Al destruir la caja se podrá obtener un Digi-Objeto (ver en la secicón de Digi-Objetos) o
                      un digimon. Consultar el apartado de combates en la sección de eventos del juego para obtener más
                      información sobre cómo realizar los distintos tipos de ataque.
                    </p>
                  </li>
                  <li>
                    <h5>DIGI-SEARCHER</h5>
                    <p>
                      Al abrir esta opción, aparecerá en pantalla una televisión. Hay que dejar pulsado el botón lateral
                      al mismo tiempo que se pasa la mano sobre el sensor de movimiento de forma constante.
                    </p>
                    <p>
                      De esta forma se puede activar uno de los eventos del juego (ver siguiente sección) o conseguir un
                      digimon.
                    </p>
                    <p>
                      Puede requerir varios intentos.
                    </p>
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!--Fin item 2-->


        <!--Item 3-->
        <div class="accordion-item">
          <div class="accordion-header" id="heading3">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse3" aria-expanded="true" aria-controls="collapse3">
              <h3>Eventos del juego</h3>
            </button>
          </div>
          <div id="collapse3" class="accordion-collapse collapse" aria-labelledby="heading3"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <p>
                El D-Tector cuenta con varios eventos que se activan tras caminar con el digivice (o agitarlo con la
                mano) o al usar con éxito la opción DIGI-SEARCHER.
                Estos eventos son los siguientes
              </p>

              <div>
                <h4 class="border-bottom">Combates</h4>
                <p>
                  Los combates contra otros digimon son el principal evento del dispositivo. Puedes encontrar combates
                  tras dar una cierta cantidad de pasos, al usar el DIGI-SEARCHER con éxito o tras llegar al final de un
                  área, en cuyo caso combatirás contra el digimon BOSS del área. Ganas un combate cuando consigues
                  disminuir a 0 la vida (LIFE) del digimon contrincante. Pierdes si es la de tu digimon la que llega a
                  0.
                </p>
                <p>
                  Antes de realizar combates es conveniente saber cómo crear un equipo de digimon y conocer los tipos de
                  ataque que pueden hacer.
                </p>

                <ul>

                  <li>
                    <h5>Creación de equipos</h5>
                    <p>
                      Se llama equipo digimon a los digimon asignados a cada hueco del equipo o D-DOCK. Hay un total
                      de 4 D-DOCK que se pueden consultar en las pantallas de información mencionadas al principio de la
                      guía.
                    </p>
                    <p>
                      En la sección anterior, se explicaba cómo colocar un digimon en un D-Dock desde la DIGI-DATABASE.
                    </p>
                    <p>
                      Estos digimon podrán ser invocados en combate usando la opción BATTLE CALL en el menú de
                      navegación de los combates.
                    </p>
                  </li>

                  <li>
                    <h5>Tipos de ataque</h5>
                    <p>
                      Existen tres tipos de ataque: ENERGY (EN.), ABILITY (AB.) y CRUSH (CR.).
                    </p>
                    <p>
                      ENERGY siempre gana a ABILITY, ABILITY siempre gana a CRUSH y CRUSH siempre gana a ENERGY.
                    </p>
                    <p>
                      Si ambos digimon usan el mismo tipo de ataque, ganará el que tenga un mayor valor en la
                      estadística asociada a dicho ataque.
                      Por ejemplo, si en un combate entre Agumon y Gabumon ambos usan el ataque ENERGY, ganará Agumon ya
                      que tiene un valor de 25 en su estadística de ENERGY, mientras que Gabumon tiene 20. Estos valores
                      pueden consultarse en la DIGI-DATABASE.
                    </p>
                    <p>
                      Si ambos ataques son del mismo tipo y tienen el mismo valor, habrá un empate y ningún digimon
                      sufrirá daño.
                    </p>
                  </li>

                </ul>

                <p>
                  Una vez conocido lo básico de los combates, se explicarán las diferentes opciones del menú de
                  navegación de los mismos.
                </p>

                <ul>

                  <li>
                    <h5>Menú de combate inicial</h5>
                    <p>Este menú es el primero que aparece al comenzar un combate y consta de cuatro opciones:</p>
                    <ol style="list-style: decimal;">

                      <li>
                        <h6>BATTLE CALL</h6>
                        <p>
                          Desde aquí se invoca a un digimon de uno de los 4 D-DOCK.
                        </p>
                        <p>
                          La invocación funciona con el sensor de movimiento, por lo que tienes que asegurarte de que
                          estás en un lugar bien iluminado.
                        </p>
                        <p>
                          Para invocar a un digimon hay dejar pulsado el botón lateral mientras se pasa la mano por el
                          sensor de movimiento siguiendo un patrón.
                          Sabrás que el sensor ha detectado correctamente el movimiento de tu mano cuando el led se
                          apague al instante. A partir de ahora se representará con un 1
                          el pasar la mano sobre el sensor y con un 0 el no pasarla y dejar que el led se apague solo.
                        </p>
                        <p>
                          Para invocar al digimon del D-DOCK 1 hay que seguir el patrón: 1 1 1
                        </p>
                        <p>
                          D-DOCK 2: 1 0 1
                        </p>
                        <p>
                          D-DOCK 3: 1 1 0
                        </p>
                        <p>
                          D-DOCK 4: 1 0 0
                        </p>
                        <p>
                          Una vez realizado el patrón, se perderán puntos de invocación dependiendo del nivel que tenga
                          el digimon en comparación con el nivel del jugador.
                          Cuanto mayor sea el nivel del digimon en comparación con el del jugador, más puntos costará y
                          más difícil será que obedezca al ordenarle atacar.
                        </p>
                        <p>
                          Si no se realiza ningún patrón de invocación, gastarás de forma automática dos puntos de
                          invocación para invocar un poderoso Numemon.
                        </p>
                        <p>
                          Una vez invocado el digimon, aparecerá el menú de combate del digimon.
                        </p>
                      </li>

                      <li>
                        <h6>SPIRIT ON</h6>
                        <p>
                          Mediante esta opción puedes combatir con un espíritu digital en vez de con uno de los digimon
                          de los D-DOCK.
                        </p>
                        <p>
                          Tanto invocar como combatir con un espíritu digital gasta Spirits-Power en función del nivel
                          del jugador, por lo que es recomendable tener Spirits-Power de sobra.
                        </p>
                        <p>
                          Una vez activado el espíritu digital, se accederá al menú de combate del espíritu digital.
                        </p>
                      </li>

                      <li>
                        <h6>DIGI-DIGITS</h6>
                        <p>
                          Puedes invocar cualquier digimon utilizando su código directamente.
                        </p>
                        <p>
                          Esta es la única forma de utilizar a los digimon ANCIENT. Requieren, además, de 99
                          Spirits-Power y de que tengas a los dos espíritus digitales de su elemento.
                        </p>
                      </li>

                      <li>
                        <h6>ESCAPE</h6>
                        <p>
                          Con esta opción puedes huir del combate.
                        </p>
                        <p>
                          Al escapar de un combate, nuestro personaje puede resultar herido, se puede eliminar de forma
                          definitiva uno de
                          nuestros digimon de los D-DOCK al azar o, en caso de combatir contra un BOSS, nos puede robar
                          un espíritu digital. A efectos prácticos, es como perder el combate.
                        </p>
                      </li>

                    </ol>
                  </li>

                  <li>
                    <h5>Menú de combate del digimon</h5>
                    <p>Este menú aparece después de invocar un digimon mediante BATTLE CALL y consta de tres opciones:
                    </p>
                    <ol style="list-style: decimal;">

                      <li>
                        <h6>ATTACK</h6>
                        <p>
                          Con esta opción puedes seleccionar qué tipo de ataque quieres que haga el digimon mediante el
                          sensor de movimiento.
                        </p>
                        <p>
                          De igual forma que en la invocación, 1 representa pasar la mano sobre el sensor para que se
                          apague el led, y 0 dejar que el led se apague solo.
                        </p>
                        <p>
                          ENERGY: 1 1 1
                        </p>
                        <p>
                          ABILITY: 1 1 0
                        </p>
                        <p>
                          CRUSH: 1 0 1
                        </p>
                        <p>
                          Si se hace otro patrón o ninguno, el ataque será aleatorio.
                        </p>
                        <p>
                          Cabe la posibilidad de que si el jugador tiene un nivel muy bajo respecto al nivel del
                          digimon, este no quiera atacar.
                        </p>
                        <p>
                          Después de cada ataque ganarás un poco de Spirits-Power. Puedes consultar cuánto Spirits-Power
                          tienes pulsando el botón C en cualquier menú de combate.
                        </p>
                      </li>

                      <li>
                        <h6>DIGIVOLVE</h6>
                        <p>
                          Algunos digimon pueden digievolucionar en otros más poderosos. Por ejemplo, Agumon puede
                          digievolucionar a Greymon, y este, a su vez, puede digievplucionar a Metalgreymon.
                        </p>
                        <p>
                          Digievolucionar con éxito depende de la suerte y del nivel que tenga el jugador, aunque
                          siempre gastará un punto de invocación.
                        </p>
                      </li>

                      <li>
                        <h6>DEPORT</h6>
                        <p>
                          Guarda al digimon invocado en su D-DOCK y regresas al menú de combate inicial.
                        </p>
                      </li>

                    </ol>
                  </li>

                  <li>
                    <h5>Menú de combate del espíritu digital</h5>
                    <p>
                      Una vez invocado un espíritu digital se accederá a este menú. Consta de las siguientes opciones:
                    </p>
                    <ol style="list-style: decimal;">

                      <li>
                        <h6>ATTACK</h6>
                        <p>
                          A diferencia de los digimon normales, puedes elegir con qué atacará el espíritu digital sin
                          usar el sensor de movimiento.
                        </p>
                        <p>
                          Cada ataque gastará Spirits-Power. Si te quedas sin él, el espíritu se desactivará y volverás
                          al menú de combate inicial.
                        </p>
                      </li>

                      <li>
                        <h6>DIGI-POWER</h6>
                        <p>
                          Los espíritus digitales pueden recibir ayuda de uno de los digimon de los D-DOCK.
                        </p>
                        <p>
                          Elige el digimon que quieres que ayude al espíritu digital mediante el sensor y, si tienes
                          suerte, el siguiente ataque del espíritu digital será más poderoso.
                        </p>
                        <p>
                          Esta opción también consume puntos de invocación y no puede usarse dos veces seguidas.
                        </p>
                      </li>

                      <li>
                        <h6>SPIRIT-OFF</h6>
                        <p>
                          Desactiva el espíritu digital y vuelves al menú de combate inicial.
                        </p>
                      </li>

                      <li>
                        <h6>ESCAPE</h6>
                        <p>
                          Escapa del combate.
                        </p>
                      </li>

                    </ol>
                  </li>

                </ul>

                <p>
                  Perder un combate o huir de él puede hacer que resultes herido, pierdas un digimon de los D-DOCK o que
                  te roben un espíritu digital.
                </p>

              </div>

              <div>
                <h4 class="border-bottom">Tormentas de arena</h4>
                <p>
                  Después de dar una determinada cantidad de pasos o al utilizar con éxito el DIGI-SEARCHER, cabe la
                  posibilidad de que te topes con una tormenta de arena.
                </p>
                <p>
                  Para huir de ellas, basta con pulsar de forma alterna y constantemente los botones A y B. Sin embargo,
                  si la tormenta de arena va primero a por otro niño elegido diferente del que escogiste tú, no podrás
                  escapar de la misma y os llevará a todos a otro área conservando los pasos dados previamente.
                </p>

                <p>
                  Si la tormenta de arena se te lleva solo a ti, irás a parar a otro área pero sin los demás niños
                  elegidos acompañándote, por lo que no podrás usar sus espíritus digitales ni sus digimon ANCIENT
                  correspondientes hasta que te vuelvas a reunir con ellos.
                </p>

              </div>

              <div>
                <h4 class="border-bottom">Reencuentros</h4>
                <p>
                  Si una tormenta de arena te separó de los demás niños elegidos, puedes encontrarte con ellos de nuevo únicamente dando pasos con el D-Tector (o agitándolo).
                </p>
                <p>
                  Puedes consultar cuantos niños elegidos están contigo accediendo al menú STATUS.
                </p>
              </div>

            </div>
          </div>
        </div>
        <!--Fin item 3-->

        <!--Item 4-->
        <div class="accordion-item">
          <div class="accordion-header" id="heading4">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse4" aria-expanded="true" aria-controls="collapse4">
              <h3>Digi-Objetos</h3>
            </button>
          </div>
          <div id="collapse4" class="accordion-collapse collapse" aria-labelledby="heading4"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">

              <p>
                Al jugar a SCANNING-ACTION o al utilizar con éxito el DIGI-SEARCHER puedes conseguir diversos digi-objetos.
              </p>

              <ul>

                <li>
                  <h4>Digi-Chip de incremento de distancia</h4>
                  <p>Este chip aumenta los pasos que tienes que dar para llegar al final del área.</p>
                </li>

                <li>
                  <h4>Digi-Chip de reducción de distancia</h4>
                  <p>Este chip disminuye los pasos que tienes que dar para llegar al final del área.</p>
                </li>

                <li>
                  <h4>Suplemento de Spirits-Power</h4>
                  <p>Este suplemento aumenta tu Spirits-Power.</p>
                </li>

                <li>
                  <h4>Semilla de aumento de nivel</h4>
                  <p>Esta semilla aumenta en uno tu nivel de jugador.</p>
                </li>

              </ul>


            </div>
          </div>
        </div>
        <!--Fin item 4-->

      </div>
      <!--Fin acordeón-->

    </div>

  </div>
</div>
