<div class="container">

  <div class="row mt-3">
    <div class="col-12">
      <h2>Digi-Digits</h2>
      <p>El D-Tector salió a la venta al mismo tiempo que el D-Tector Card Game, solo disponible en EEUU. A continuación
        se mostrará una lista con todos los digimon y sus códigos obtenidos de estas cartas.</p>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <h3 class="border-bottom">ROOKIE</h3>
    </div>
    <div class="col-auto g-3 ms-3" *ngFor="let digimon of rookie">
      <div class="card" style="width: 12rem;">
        <img [src]="digimon.urlImagen" class="card-img-top" alt="">
        <div class="card-body">
          <h4 class="card-title">{{digimon.nombre}}</h4>
          <p class="card-text">Código: <b>{{digimon.codigo}}</b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <h3 class="border-bottom">CHAMPION</h3>
    </div>
    <div class="col-auto g-3 ms-3" *ngFor="let digimon of champion">
      <div class="card" style="width: 12rem;">
        <img [src]="digimon.urlImagen" class="card-img-top" alt="">
        <div class="card-body">
          <h4 class="card-title">{{digimon.nombre}}</h4>
          <p class="card-text">Código: <b>{{digimon.codigo}}</b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <h3 class="border-bottom">ULTIMATE</h3>
    </div>
    <div class="col-auto g-3 ms-3" *ngFor="let digimon of ultimate">
      <div class="card" style="width: 12rem;">
        <img [src]="digimon.urlImagen" class="card-img-top" alt="">
        <div class="card-body">
          <h4 class="card-title">{{digimon.nombre}}</h4>
          <p class="card-text">Código: <b>{{digimon.codigo}}</b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <h3 class="border-bottom">MEGA</h3>
    </div>
    <div class="col-auto g-3 ms-3" *ngFor="let digimon of mega">
      <div class="card" style="width: 12rem;">
        <img [src]="digimon.urlImagen" class="card-img-top" alt="">
        <div class="card-body">
          <h4 class="card-title">{{digimon.nombre}}</h4>
          <p class="card-text">Código: <b>{{digimon.codigo}}</b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <h3 class="border-bottom">BOSS</h3>
    </div>
    <div class="col-auto g-3 ms-3" *ngFor="let digimon of boss">
      <div class="card" style="width: 12rem;">
        <img [src]="digimon.urlImagen" class="card-img-top" alt="">
        <div class="card-body">
          <h4 class="card-title">{{digimon.nombre}}</h4>
          <p class="card-text">Código: <b>{{digimon.codigo}}</b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <h3 class="border-bottom">ANCIENT</h3>
    </div>
    <div class="col-auto g-3 ms-3" *ngFor="let digimon of ancient">
      <div class="card" style="width: 12rem;">
        <img [src]="digimon.urlImagen" class="card-img-top" alt="">
        <div class="card-body">
          <h4 class="card-title">{{digimon.nombre}}</h4>
          <p class="card-text">Código: <b>{{digimon.codigo}}</b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12">
      <h3 class="border-bottom">SPIRITS</h3>
    </div>
    <div class="col-auto g-3 ms-3" *ngFor="let digimon of spirits">
      <div class="card" style="width: 12rem;">
        <img [src]="digimon.urlImagen" class="card-img-top" alt="">
        <div class="card-body">
          <h4 class="card-title">{{digimon.nombre}}</h4>
          <p class="card-text">Código: <b>{{digimon.codigo}}</b></p>
        </div>
      </div>
    </div>

    <div class="row mb-5">
      <div class="col-12">
        <h3 class="border-bottom">OTROS</h3>
      </div>
      <div class="col-auto g-3 ms-3" *ngFor="let digimon of others">
        <div class="card" style="width: 12rem;">
          <img [src]="digimon.urlImagen" class="card-img-top" alt="">
          <div class="card-body">
            <h4 class="card-title">{{digimon.nombre}}</h4>
            <p class="card-text">Código: <b>-</b><br>{{digimon.codigo}}</p>
          </div>
        </div>
      </div>
    
  </div>